<main class="container container-formularios">
    <h1><%- nomePagina%></h1>

    <form action="/criar-conta" method="POST" class="default-form">
        <div class="campo">
            <label>E-mail</label>
            <input type="email" name="email" placeholder="Email">
        </div>
        <div class="campo">
            <label>Nome</label>
            <input type="text" name="nome" placeholder="Nome">
        </div>
        <div class="campo">
            <label>Password</label>
            <input type="password" name="password" placeholder="Password">
        </div>
        <div class="campo">
            <label>Repetir Password</label>
            <input type="password" name="repetir" placeholder="Repetir password">
        </div>
        <div class="campo enviar">
            <input type="submit" class="btn btn-rosa" value="Criar conta">
        </div>
    </form>
</main>